Checks: >
  -*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-named-parameters,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -readability-math-missing-parentheses
HeaderFilterRegex: '(source|tests|benchmarks)/.*'
FormatStyle: file
